module.exports = {
    GOOGLE_MAPS_API_KEY: "PASTE_YOUR_API_KEY_HERE",
    GOOGLE_MAPS_API_BROWSER_KEY: "PASTE_YOUR_BROWSER_API_KEY_HERE",
    FACEBOOK_APP_ID: "PASTE_YOUR_APP_ID_HERE",
    GOOGLE_ANALYTICS_ID: "PASTE_YOUR_ANALYTICS_ID_HERE"
};
