<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <meta property="og:url" content="http://localhost:3000/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="筑波大距離計算機" />
    <meta property="og:description" content="距離を筑波大での距離に換算します" />
    <meta property="og:image" content="http://localhost:3000/placeholder.png" />
    <title>筑波大距離計算器</title>
    {{ css("style") }}
    <script>
     var FACEBOOK_APP_ID = {{ fb_app_id }}
    </script>
    {% if process.env.NODE_ENV !== "production" %}
    <script>
     document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
                    ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    {% endif %}
  </head>
  <body>
    <header id="title">
      <h1>筑波大距離計算器</h1>
    </header>
    <section id="main">
      <div class="content">
        <ul class="accordion-tabs-minimal">
          <li class="tab-header-and-content" >
            <a class="tab-link"
               data-bind="page-href: { path: 'fromSection', params: { origin: sectionConverterViewModel.origin(), dest: sectionConverterViewModel.dest() }},
                          css: { 'is-active': pager.getActivePage().getId() == 'fromSection' }">区間を換算</a>
            <div class="tab-content"
                 data-bind="page: { id: 'fromSection', with: sectionConverterViewModel,
                            role: 'start',
                            params: [ 'origin', 'dest' ],
                            afterShow: changeConverter.bind($data, 'sectionConverterViewModel')}">
              <section class="conditions">
                <form data-bind="submit: submit">
                  <div class="location">
                    <label>出発地</label>
                    <input type="text" placeholder="東京駅"
                           data-bind="textInput: origin, placeAutoComplete: true" />
                  </div>
                  <div class="location">
                    <label>目的地</label>
                    <input type="text" placeholder="有楽町駅"
                           data-bind="textInput: dest, placeAutoComplete: true" />
                  </div>
                  <input type="submit" value="換算" data-bind="enable: canSearch"/>
                </form>
              </section>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#!/fromDistance" class="tab-link"
               data-bind="page-href: { path: 'fromDistance',
                          params: { distance: distanceConverterViewModel.distance() } },
                          css: { 'is-active': pager.getActivePage().getId() == 'fromDistance' }">距離を換算</a>
            <div class="tab-content" data-bind="page: {
                                                id: 'fromDistance',
                                                with: distanceConverterViewModel,
                                                params: [ 'distance' ],
                                                afterShow: changeConverter.bind($data, 'distanceConverterViewModel') }">
              <section class="conditions">
                <form data-bind="submit: submit">
                  <div class="distance">
                    <label>距離</label>
                      <input type="text" placeholder="500"
                             data-bind="textInput: distance" />
                      <p>メートル</p>
                  </div>
                  <input type="submit" value="換算" data-bind="enable: canSearch" />
                </form>
              </section>
            </div>
          </li>
          <section class="result" data-bind="visible: isResultAvailable, if: isResultAvailable">
            <!-- ko template: currentConverterViewModel().templateName -->
            <!-- /ko -->
            <aside class="social">
              <div class="btn-social btn-twitter">
                <a data-bind="attr: { href: tweetUrl }">
                </a>
              </div>
              <div class="btn-social btn-hatebu">
                <a class="hatena-bookmark-button"
                   data-hatena-bookmark-title="筑波大距離計算機"
                   data-hatena-bookmark-layout="standard-balloon"
                   data-hatena-bookmark-lang="ja"
                   title="このエントリーをはてなブックマークに追加"
                   data-bind="attr: { href: Util.getHatebuUrl() }"
                >
                  <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
                </a>
              </div>
              <div class="btn-social btn-fb">
                <a data-bind="attr: { href: facebookShareUrl }"><img src="/img/fb_share.png" class=""/></a>
              </div>
            </aside>
          </section>
      </div>
    </section>

    <footer>
      <p>Copyright © 2015- @mecab All Rights Reserved.</p>
    </footer>

    <script type="text/html" id="SectionConverterTemplate">
      <p class="original"><span data-bind="text: (result() || {}).origin"></span>から<span data-bind="text: (result() || {}).destination"></span>までの距離は</p>
      <p class="tsukuba"><span data-bind="text: (result() || {}).description"></span></p>
    </script>

    <script type="text/html" id="DistanceConverterTemplate">
      <p class="original"><span data-bind="text: (result() || {}).distance"></span>メートルは</p>
      <p class="tsukuba"><span data-bind="text: (result() || {}).description"></span></p>
    </script>

    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- Hatebu -->
    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

    <!-- Init Google Maps Autocomplete -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_browser_key }}&amp;signed_in=true&amp;libraries=places&amp;language=ja&amp;callback=initAutoComplete"></script>

    {{ js("main") }}
  </body>
</html>
