<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <title>筑波大距離計算器</title>
    {{ css("style") }}
    {% if process.env.NODE_ENV !== "production" %}
    <script>
     document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
                    ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    {% endif %}
  </head>
  <body>
    <header id="title">
      <h1>筑波大距離計算器</h1>
    </header>
    <section id="main">
      <div class="content">
        <ul class="accordion-tabs-minimal">
          <li class="tab-header-and-content" >
            <a href="#" class="tab-link"
               data-bind="click: changeConverter.bind($data, 'sectionConverterViewModel'),
                          css: { 'is-active': currentConverterViewModel().constructor.name === 'SectionConverterViewModel' }">区間を換算</a>
            <div class="tab-content"
                 data-bind="css: { 'is-open': currentConverterViewModel().constructor.name === 'SectionConverterViewModel' }">
              <section class="conditions" data-bind="with: sectionConverterViewModel">
                <form data-bind="submit: submit">
                  <div class="location">
                    <label>出発地</label>
                    <input type="text" placeholder="東京駅"
                           data-bind="textInput: origin" />
                  </div>
                  <div class="location">
                    <label>目的地</label>
                    <input type="text" placeholder="有楽町駅"
                           data-bind="textInput: dest" />
                  </div>
                  <input type="submit" value="換算" data-bind="enable: canSearch"/>
                </form>
              </section>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link"
               data-bind="click: changeConverter.bind($data, 'distanceConverterViewModel'),
                          css: { 'is-active': currentConverterViewModel().constructor.name === 'DistanceConverterViewModel' }
                          ">距離を換算</a>
            <div class="tab-content" data-bind="css: { 'is-open': currentConverterViewModel().constructor.name === 'DistanceConverterViewModel' }">
              <section class="conditions" data-bind="with: distanceConverterViewModel">
                <form data-bind="submit: submit">
                  <div class="distance">
                    <label>距離</label>
                      <input type="text" placeholder="500"
                             data-bind="textInput: distance" />
                      <p>メートル</p>
                  </div>
                  <input type="submit" value="換算" data-bind="enable: canSearch" />
                </form>
              </section>
            </div>
          </li>
          <section class="result" data-bind="visible: isResultAvailable, if: isResultAvailable">
            <!-- ko template: currentConverterViewModel().templateName -->
            <!-- /ko -->
          </section>
      </div>
    </section>

    <script type="text/html" id="SectionConverterTemplate">
      <p class="original"><span data-bind="text: result().origin"></span>から<span data-bind="text: result().destination"></span>までの距離は</p>
      <p class="tsukuba"><span data-bind="text: result().description"></span></p>
    </script>

    <script type="text/html" id="DistanceConverterTemplate">
      <p class="original"><span data-bind="text: result().distance"></span>メートルは</p>
      <p class="tsukuba"><span data-bind="text: result().description"></span></p>
    </script>

    {{ js("main") }}
  </body>
</html>

