<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <title>筑波大距離計算器</title>
    {{ css("style") }}
    {% if process.env.NODE_ENV !== "production" %}
    <script>
     document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
                    ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    {% endif %}
  </head>
  <body>
    <header id="title">
      <h1>筑波大距離計算器</h1>
    </header>
    <section id="main">
      <div class="content">
        <form data-bind="submit: submit">
          <ul class="accordion-tabs-minimal">
            <li class="tab-header-and-content" >
              <a href="#" class="tab-link is-active">区間を換算</a>
              <div class="tab-content is-open">
                <section class="conditions">
                  <div class="location">
                    <label>出発地</label>
                    <input type="text" placeholder="東京駅"
                           data-bind="textInput: origin" />
                  </div>
                  <div class="location">
                    <label>目的地</label>
                    <input type="text" placeholder="有楽町駅"
                           data-bind="textInput: dest" />
                  </div>
                </section>
                <input type="submit" value="換算" data-bind="enable: canSearch" />
              </div>
            </li>
            <li class="tab-header-and-content">
              <a href="#" class="tab-link">距離を換算</a>
            </li>
        </form>
        <section class="result" data-bind="visible: isResultAvailable, if: isResultAvailable">
          <p class="original"><span data-bind="text: result().origin"></span>から<span data-bind="text: result().destination"></span>までの距離は</p>
          <p class="tsukuba"><span data-bind="text: result().description"></span></p>
        </section>
      </div>
    </section>

    {{ js("main") }}
  </body>
</html>

