@import "bourbon";
@import "./base/base";
@import "neat";

body {
    background-color: #19B8C8;
    margin: 0;
    padding: 0;
}

#title {
    background-color: $title-background-color;
    color: $title-color;

    h1 {
        font-size: $title-font-size;
        padding: $title-padding;
        @include margin(null null 0 null);
    }
}

#main {
    background-color: #eeeeee;

    .content {
        @include outer-container;
        @include padding(30px 30px 30px 30px);
    }
    
    .conditions {
        @include span-columns(12);
        @include outer-container;

        .location {
            @include span-columns(6);
            
            @include media($mobile) {
                @include span-columns(2);
            }

            input[type=text] {
                @include placeholder {
                    color: #bbbbbb;
                }
            }
        }
    }

    input[type=submit] {
        background-color: #46ab36;
        @include span-columns(12);
    }

    .result {
        @include span-columns(12);
        @include margin(20px null null null);
        @include padding(20px);
        border-radius: $base-border-radius;
        background-color: white;

        .original {
            font-size: 1.5em;
        }
        
        .tsukuba {
            font-size: 2em;
        }
    }

}