@import "bourbon";
@import "./base/base";
@import "neat";

@import "./tab";

body {
    background-color: #19B8C8;
    margin: 0;
    padding: 0;

    >footer p {
        @include padding($base-spacing / 2);
        color: white;
        text-align: center;
    }
}

#title {
    background-color: $title-background-color;
    color: $title-color;

    h1 {
        font-size: $title-font-size;
        @include padding($title-padding);
        @include margin(null null 0 null);
    }
}

#main {
    background-color: #f6f6f6;

    .content {
        @include outer-container;
        @include pad(30px 30px 30px 30px);
    }
    
    .conditions {
        .location {
            @include span-columns(6);
            @include omega(2n);
            
            @include media($mobile) {
                @include span-columns(2);
            }
        }

        .distance {
            @include span-columns(12);

            @include media($not-mobile) {
                input {
                    @include span-columns(10);
                }

                p {
                    @include span-columns(2);
                    @include padding($base-spacing / 3 0 $base-spacing / 3 0);
                }
            }
        }

        input[type=text] {
            @include placeholder {
                color: #bbbbbb;
            }
        }
        input[type=submit] {
            @include span-columns(12);
            background-color: #46ab36;
        }
    }

    .result {
        @include span-columns(12);
        @include margin(20px null null null);
        @include pad(20px);
        border-radius: $base-border-radius;
        background-color: white;

        .original {
            font-size: 1.5em;
        }
        
        .tsukuba {
            font-size: 2em;
        }

        .social {
            .btn-social {
                display: inline-block;
                padding-right: 10px;
            }
        }
    }
}

.btn-fb {
    height: 20px;

    img {
        height: 20px;
    }
}
